.dummyModal {
  position: fixed;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -40%) scale(0);
  padding: 20px;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  width: 50vw;
  height: 80vh;
}
.mainDiv {
  height: 120vh;
  width: 99vw;
  font-family: "Playwrite IT Moderna", serif;
}
.dummyModal.show {
  animation: rotatePopUp 3s forwards;
}
.arrowIcon {
  height: 30px;
  position: relative;
  left: 50%;
  animation: arrowAnimate 1s infinite alternate ease-in-out;
}
@keyframes arrowAnimate {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-5px);
  }
}
@keyframes rotatePopUp {
  0% {
    transform: translate(-50%, -50%) rotateY(0deg) scale(0);
    opacity: 0;
  }
  80% {
    transform: translate(-50%, -50%) rotateY(360deg) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(30%, -50%) scale(1);
    opacity: 1;
  }
}
.loginText.show {
  position: fixed;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%) scale(0);
  animation: textPopUp 2s 2.7s forwards;
  font-size: 40px;
  min-height: 1.5em;
  white-space: nowrap;
  font-weight: 400;
}
@keyframes textPopUp {
  0% {
    transform: translate(-10%, 0%);
  }
  100% {
    transform: translate(-10%, 0%);
  }
}

.loginText.show::after {
  content: "|";
  margin-left: 2px;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.inputForm.show{
  position: fixed;
  width: fill;
  top: 40%;
  left: 70%;
  transform: translate(-50%,-50%) scale(0);
  animation: inputSectionPop 1s 3s forwards;
  width: 16vw;
}
@keyframes  inputSectionPop{
 0%{
  transform:translate(20%,20%) scale(0);
 }
 100%{
  transform:translate(20%,20%) scale(1);
 }
}
input{
  font-family: "Playwrite IT Moderna", serif;
  height: 25px;
  border: 1px solid black;
  color: black;
  border-radius: 5px;
}
input::placeholder{
  color: black;
}
button{
  font-family: "Playwrite IT Moderna", serif;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
}
button:hover{
  background: black;
  color: white;
}
.subInput{
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
}